registry=https://registry.npmjs.org/
save-exact=true
strict-peer-deps=true
engine-strict=true
allow-directory=root
allow-file=root
allow-git=none
allow-remote=none
strict-allow-scripts=true
audit=true
audit-level=high
package-lock=true
fund=false
